logs
/work/

#build
target/

#OSX
*.DS_Store

#IntelliJ
*.iml
*.idea

#Clover
clover.license
.clover

#Eclipse
.settings
.classpath
.project
/.factorypath
/.checkstyle
/.sts4-cache/
/test-e2e/node_modules/
/test-bat/node_modules/
